@*@model IEnumerable<WFP.ICT.Data.Entities.Campaign>*@
@using ADSDataDirect.Enums
@using PagedList.Mvc
@model PagedList.IPagedList<WFP.ICT.Data.Entities.Campaign>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string currentSort = ViewBag.CurrentSort;
    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "OrderNumber_desc";
    }

    var columnSortParams1 = new { sortOrder = ViewBag.CampaignNameSortParm };
    var columnSortParams2 = new { sortOrder = ViewBag.BroadcastDateSortParm };
    var columnSortParams3 = new { sortOrder = ViewBag.RepresentativeNameSortParm };
    var columnSortParams4 = new { sortOrder = ViewBag.RepresentativeEmailSortParm };
    var columnSortParams5 = new { sortOrder = ViewBag.ReferenceNumberSortParm };
    var columnSortParams6 = new { sortOrder = ViewBag.OrderNumberSortParm };

}

<div class="row">
        <div class="col-md-8">
            <div class="dashboard-page-head">
                <div class="page-header">
                    <h1>Campaign Approved<small></small></h1>
                    &nbsp;&nbsp;@Html.ActionLink("Back to Orders", "Index", "Campaigns")
                </div>
            </div>
        </div>
    <div class="col-md-3 form-group" id="divSearch" data-tooltip="tooltip" title="Search">
        <form id="frmSearch" method="post">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="hidden" id="searchType" name="searchType" value="basic" />
                <input type="text" id="searchString" name="searchString" class="form-control input-md" placeholder="Type to search" value="@ViewBag.searchString">
                <div class="input-group-addon">
                    <a href="#" id="btnClearSearch" name="btnClearSearch" data-tooltip="tooltip" title="Clear Search"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-1 listing-action" id="divTools" style="text-align:right">
        <a href="#" class="btn btn-default" id="btnSendToVendor" data-tooltip="tooltip" title="Send to Vendor"><span class="glyphicon glyphicon-envelope"></span></a>
    </div>
</div>
        
        <table class="table">
            <tr>
                <th>
                    Order Number
                </th>
                <th>
                    Campaign Name
                </th>
                <th>
                    White Label
                </th>
                <th>
                    From Line
                </th>
                <th>
                    Subject Line
                </th>
                <th>
                    Creative URL
                </th>
                <th>
                    Geo
                </th>
                <th>
                    Demo
                </th>
                <th>
                    Zip URL
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Matchback
                </th>
                <th>
                    Link Breakout
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CampaignName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WhiteLabel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectLine)
                    </td>
                    <td>
                        @Html.Raw(string.Format("<a href=\"{0}\" target=\"blank\">{1}</a>", item.CreativeURL, item.CreativeURL))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeoDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Demographics)
                    </td>
                    <td>
                        @Html.Raw(string.Format("<a href=\"{0}\" target=\"blank\">{1}</a>", item.ZipURL, item.ZipURL))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @(item.IsMatchback? "Yes" : "No")
                    </td>
                    <td>
                        @Html.Raw(string.Format("<a href=\"{0}\" target=\"blank\">{1}</a>", item.LinkBreakout, item.LinkBreakout))
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Copy", new { id = item.Id, from = "Approved" }, null)
                    </td>
                </tr>
            }

        </table>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-count">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
                <div class="tp-pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }), new PagedListRenderOptions() { })
                </div>
            </div>
        </div>


<script type="text/javascript">

        var wfp = wfp || {};

        $(document).ready(function () {

            $('#searchString').keypress(function (e) {
                if (e.which === 13) {
                    $('form#frmSearch').submit();
                    return false;
                }
            });

            $('#btnClearSearch').click(function () {
                debugger;
                wfp.reload('/Campaigns/Index');
                return false;
            });

        });

</script>