@using ADSDataDirect.Web.Models
@model ADSDataDirect.Web.Models.CustomerVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@(Model == null ? "New" : "Edit")  White Label</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                White Label
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Open Model
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                                Details
                            </a>
                        </li>
                        <div class="pull-right" id="tools">
                            <a href="/Customer" class="btn btn-sm">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-saved"></span> Save</button>
                        </div>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-md-3">White Label<span class="required">*</span></label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.WhiteLabel, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.WhiteLabel, "", new {@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Company Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Company Logo<span class="required">*</span></label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.CompanyLogo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.Partial("_UploadFile", new UploadFileVm() { FileType = "CompanyLogo" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Web Domain<span class="required">*</span></label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.WebDomain, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.WebDomain, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Report Template</label>
                                        <div class="col-md-9">
                                            @Html.DropDownList("ReportTemplate", null, htmlAttributes: new {@class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.ReportTemplate, "", new {@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Preview</label>
                                        <div class="col-md-9">
                                            <img id="imgTemplate" alt=""/>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="tab_default_2">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Use Open Model</label>
                                        <div class="col-md-9">
                                            <div class="">
                                                <div class="btn-group" data-toggle="buttons" style="padding-bottom:10px">
                                                    <label class="btn btn-primary">
                                                        @Html.RadioButtonFor(model => model.IsUseOpenModel, "True")Yes
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        @Html.RadioButtonFor(model => model.IsUseOpenModel, "False")No
                                                    </label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IsUseOpenModel, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @*<a href="@Url.Action("EditKeywords","Customer", new { id = Model.Id })" id="btnEditKeywords" class="btn btn-default" title="Edit Key words" data-tooltip="tooltip" data-id="@Model.Id"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit Keywords</a>*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        Open Initial
                                    </div>
                                    <div class="col-md-3">
                                        Open End
                                    </div>
                                    <div class="col-md-3">
                                        Click Initial
                                    </div>
                                    <div class="col-md-3">
                                        Click End
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.OpenInitial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.OpenInitial, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.OpenEnd, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.OpenEnd, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.ClickInitial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.ClickInitial, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.ClickEnd, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.ClickEnd, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="tab_default_3">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Phone</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <br /><br />

        </div>
    </div>

}

<style>
    #imgTemplate {
        border: none;
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    #imgTemplate:hover {
        -webkit-transform: scale(5);
        -moz-transform: scale(5);
        -o-transform: scale(5);
        transform: scale(5);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
</style>


<script type="text/javascript">

    var wfp = wfp || {};

    $(function () {
        debugger;

        $("input[name='IsUseOpenModel']:checked").closest("label.btn").addClass("active");

        if ($('#Id').val() !== '')
            $('#WhiteLabel').prop('readonly', "readonly");

        $('#CompanyLogo').prop('readonly', "readonly");

        var img = '/images/' + $("#ReportTemplate").find('option:selected').text().toLowerCase() + '.png';
        $("img[id=imgTemplate]").attr("src", img);

        $("#ReportTemplate").change(function () {
            debugger;
            var img = '/images/' + $(this).find('option:selected').text().toLowerCase() + '.png';
            $("img[id=imgTemplate]").attr("src", img);

        });

    });
</script>
