@using ADSDataDirect.Web.Models
@model ADSDataDirect.Web.Models.OpenModelInputVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row" style="padding-bottom: 5px">
                <div class="col-md-12 headertab">
                    Reporting Model Inputs - Order #: @Model.OrderNumber
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label col-md-3 pre">Links File</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.OpenModelLinksFile, new { disabled = "disabled", htmlAttributes = new { @class = "form-control" } })
                            @Html.Partial("_UploadFile", new UploadFileVm() { FileType = "OpenModelLinksFile", OrderNumber = Model.OrderNumber })
                            @Html.ValidationMessageFor(model => model.OpenModelLinksFile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label col-md-3 pre">Image File</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.OpenModelImageFile, new { disabled = "disabled", htmlAttributes = new { @class = "form-control" } })
                            @Html.Partial("_UploadFile", new UploadFileVm() { FileType = "OpenModelImageFile", OrderNumber = Model.OrderNumber })
                            @Html.ValidationMessageFor(model => model.OpenModelImageFile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">Report Type</label>
                        <div class="col-md-9">
                            <div class="">
                                <div class="btn-group" data-toggle="buttons" style="padding-bottom:10px">
                                    <label class="btn btn-primary">
                                        @Html.RadioButtonFor(model => model.IsReportType, "False") Static
                                    </label>
                                    <label class="btn btn-primary">
                                        @Html.RadioButtonFor(model => model.IsReportType, "True") Dataroma
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.IsReportType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" id="divClientCampaigns">
                        <label class="control-label col-md-3 pre">SFID Client Campaigns</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(modelItem => Model.SFDClientId, new SelectList(ViewBag.SfidClientCampaigns, "Value", "Text", Model.SFDClientId)
                        , new { @class = "form-control input-md" })
                            @Html.ValidationMessageFor(model => model.OpenModelImageFile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-offset-10 col-md-2">
                    <a href="/OpenModel/View/@Model.Id" class="btn btn-sm">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

            <br /><br />

        </div>
            </div>

            }

            <style>
                #imgTemplate {
                    border: none;
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                }

                    #imgTemplate:hover {
                        -webkit-transform: scale(5);
                        -moz-transform: scale(5);
                        -o-transform: scale(5);
                        transform: scale(5);
                        transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                    }
            </style>


            <script type="text/javascript">

                var wfp = wfp || {};

                $(function () {
                    debugger;

                    $("input[name='IsReportType']:checked").closest("label.btn").addClass("active");
                    $('#divClientCampaigns').hide();
                    $("input[name='IsReportType']").on('change', function () {
                        debugger;
                        var isDataroma = $("input[name=IsReportType]:checked").val() === "True";
                        if (isDataroma) {
                            $('#divClientCampaigns').show(1000);;
                        } else {
                            $('#divClientCampaigns').hide(1000);;
                        }
                    });

                    if ($('#Id').val() !== '')
                        $('#WhiteLabel').prop('readonly', "readonly");

                    $('#OpenModelLinksFile').prop('readonly', "readonly");
                    $('#OpenModelImageFile').prop('readonly', "readonly");

                    var img = '/images/' + $("#ReportTemplate").find('option:selected').text().toLowerCase() + '.png';
                    $("img[id=imgTemplate]").attr("src", img);

                    $("#ReportTemplate").change(function () {
                        debugger;
                        var img = '/images/' + $(this).find('option:selected').text().toLowerCase() + '.png';
                        $("img[id=imgTemplate]").attr("src", img);

                    });

                });
            </script>
