@using ADSDataDirect.Core.Entities
@using ADSDataDirect.Enums
@using ADSDataDirect.Web.Models
@model ADSDataDirect.Web.Models.UserProfileVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var loggedInUser = Session["user"] as WfpUser;
    var isLoggedIn = loggedInUser != null;
    var isAdmin = loggedInUser != null && (loggedInUser.UserType == (int)UserType.Admin);

}

<h2>Settings<span class="small"></span></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                User Settings
                            </a>
                        </li>
                        @*<li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Others
                            </a>
                        </li>*@
                        <div class="pull-right" id="tools">
                            <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-saved"></span> Save</button>
                        </div>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            
                            <div class="row">
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Username</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">FirstName</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">LastName</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="txtName">API Key</label>
                                        <div class="col-md-10">
                                            <input type="text" value="@Model.ApiKey" class="form-control input-md" readonly="readonly" />
                                        </div>
                                    </div>
                                
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Email</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                        </div>

                        @*<div class="tab-pane" id="tab_default_2">
                            
                            <div class="row">
                                <div class="col-md-6">
                                    
                                   
                                    
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
            
            <br /><br />

        </div>
    </div>

}
<script type="text/javascript">

    var wfp = wfp || {};

    $(function () {
                
        $('#UserName').prop('readonly', "readonly");

    });
</script>
