@using System.Linq;
@using System.Security.Claims;
@using ADSDataDirect.Core.Entities
@using ADSDataDirect.Enums
@{
    var loggedInUser = Session["user"] as WfpUser;
    var isLoggedIn = loggedInUser != null;
    var isAdmin = loggedInUser != null && (loggedInUser.UserType == (int)UserType.Admin);
}
@if (Session["id"] != null)
{
    <div class="container">
        <div class="row" style="padding-bottom: 5px">
            <div class="col-md-12 headertab">
                Order #: @Session["OrderNumber"]
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.ActionLink("Testing", "Index", "Testing", new {id = Session["id"] }, new {@class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Creative", "Index", "Creative", new {id = Session["id"]}, new {@class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Approved", "Index", "Approved", new {id = Session["id"]}, new {@class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Status", "Index", "Status", new { searchType = "basic", searchString = Session["OrderNumber"] }, new {@class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Tracking", "Report", "Tracking", new { id = Session["id"] }, new { @class = "btn btn-default btn-sm" })
            </div>
            
            <div class="col-md-1">
                @Html.ActionLink("Reporting", "View", "OpenModel", new { id = Session["id"] }, new { @class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
            </div>

            <div class="col-md-1">
                @Html.ActionLink("Clone", "Clone", "Campaigns", new { id = Session["id"] }, new { @class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("ReBroad", "Rebroad", "Campaigns", new { id = Session["id"] }, new { @class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancel", "Cancel", "Campaigns", new { id = Session["id"] }, new { @class = "btn btn-default btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Complete", "Complete", "Campaigns", new { id = Session["id"] }, new { @class = "btn btn-default btn-sm" })
            </div>
            
        </div>
    </div>
}