@using System.Security.Claims
@using ADSDataDirect.Core.Entities
@using ADSDataDirect.Enums
@using ADSDataDirect.Infrastructure.Auth0
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@System.Configuration.ConfigurationManager.AppSettings["ClientName"] - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Theme/CSS")

    @Scripts.Render("~/Theme/JS")
    @Scripts.Render("~/Theme/jQueryUI")
    <script src="~/js/wfp.js?version=3"></script>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="divBodyContent">
    @Html.Partial("_Header")

    <div class="container body-content">
        
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @if (TempData["Error"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["Error"]</p>
        }

        @RenderBody()

        <footer>
            <p>
                &copy; @DateTime.Now.Year - @System.Configuration.ConfigurationManager.AppSettings["ClientName"]
            </p>
        </footer>
    </div>
</div>
    
@{
    var loggedInUser = Session["user"] as WfpUser;
    bool isAdmin = loggedInUser != null && (loggedInUser.UserType == (int)UserType.Admin);
}
@if (isAdmin && ____.___)
{
    <script src="../../Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="../../Scripts/SignalR.Updater.js"></script>
    @Html.Partial("_Logs")
}


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    <script>
        var wfp = wfp || {};

        $(document).ajaxStart(function ()
        {
            wfp.blockUI({
                target: $('#divBodyContent'),
                boxed: true,
                message: 'Processing...'
            });

        })
        .ajaxStop(function ()
        {
            wfp.unblockUI($('#divBodyContent'))
        });

        $(document).ajaxError(function (e, xhr) {
            debugger;
            if (xhr.status == 403) {
                var response = $.parseJSON(xhr.responseText);
                window.location = response.LogOnUrl;
            }
        });

        $(document).ready(function () {

            $('[data-tooltip="tooltip"]').tooltip();

            $('.tp-pagination .pagination > li.PagedList-skipToNext > a').text("Next");
            $('.tp-pagination .pagination > li.PagedList-skipToLast > a').text("Last");
            $('.tp-pagination .pagination > li.PagedList-skipToFirst > a').text("First");
            $('.tp-pagination .pagination > li.PagedList-skipToPrevious > a').text("Previous");

        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
