@model ADSDataDirect.Web.Models.UploadFileVm

<div id="main-container" class="container">
    <!-- Upload -->
    <div class="row">
        <div class="col-md-6">

            <form id="frmUpload" role="form">
                <!-- Text input-->
                <div class="form-group">
                    <div class="input-group">
                        <input id="txtUploadFile_@Model.FileType" class="inputfile" type="file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <a class="btn btn-default" id="btnUpload_@Model.FileType" data-tooltip="tooltip" title="Upload File"><span class="glyphicon glyphicon-upload"></span></a>
                        &nbsp;<a id="linkDownload_@Model.FileType" href="#" class="btn btn-default" data-tooltip="tooltip" title="Download File"><span class="glyphicon glyphicon-download"></span></a>
                        &nbsp;&nbsp;<a id="linkDelete_@Model.FileType" href="#" class="btn btn-default" data-file="" data-tooltip="tooltip" title="Delete File"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <script type="text/javascript">

        var wfp = wfp || {};

        $(document).ready(function () {

            var selectedFile;
            var txtSelectedFile = $('#@Model.FileType');
            var inputfile = $('#txtUploadFile_@Model.FileType');
            var btnUpload = $('#btnUpload_@Model.FileType');
            var linkDownload = $('#linkDownload_@Model.FileType');
            var linkDelete = $('#linkDelete_@Model.FileType');
            var ifHtmlImageFiles = '@(Model.FileType == "Assets_CreativeFiles" || Model.FileType.StartsWith("CreativeFiles")
                || Model.FileType == "CompanyLogo" || Model.FileType == "Assets_BannersFile" || Model.FileType == "Assets_MiscFile" || Model.FileType == "OpenModelImageFile")';

            //debugger;
            if (txtSelectedFile.val() === '') {
                linkDownload.hide();
                linkDelete.hide();
            } else {
                linkDownload.attr('href', '../../File/DownloadFile?FileName=' + txtSelectedFile.val() + '&FileType=' + '@Model.FileType');
                linkDelete.data('file', txtSelectedFile.val());
                linkDownload.show();
                linkDelete.show();
            }


            inputfile.change(function (e) {

                var isSelected = false;
                if (ifHtmlImageFiles === 'True') {
                    selectedFile = e.target.files[0];
                    isSelected = true;
                }
                else if (e.target.files[0].type === "application/vnd.ms-excel" && e.target.files[0].name.match(".csv$")) {
                    selectedFile = e.target.files[0];
                    isSelected = true;
                } else {
                    wfp.showError("Please select valid csv file to upload.");
                    isSelected = false;
                }
                return isSelected;
            });

            btnUpload.click(function (e) {

                btnUpload.prop('disabled', true);

                e.preventDefault();
                //if (files && files.length > 0) {
                if (selectedFile) {
                    //var selectedFile = $('input[type=file]')[0].files[0];

                    if (window.FormData !== undefined) {
                        var formData = new FormData();
                        //debugger;
                        formData.append('selectedFile', selectedFile);
                        formData.append('FileType', '@Model.FileType');
                        formData.append('OrderNumber', '@Model.OrderNumber');
                        formData.append('SegmentNumber', '@Model.SegmentNumber');
                        $.ajax({
                            type: "POST",
                            url: '/File/UploadFile',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (result) {
                                if (result.IsSucess === true) {
                                    debugger;
                                    wfp.showSuccess('Uploaded Successfully.');
                                    btnUpload.prop('disabled', false);
                                    txtSelectedFile.attr('value', result.Result);
                                    linkDownload.attr('href', '../../File/DownloadFile?FileName=' + result.Result + '&FileType=' + '@Model.FileType');
                                    linkDelete.data('file', result.Result);
                                    linkDownload.show();
                                    linkDelete.show();
                                }
                                else {
                                    wfp.showError(result.ErrorMessage);
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                debugger;
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] === "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                                wfp.showError('There is erorr in service call.');
                            },
                            failure: function (response) {
                                debugger;
                                wfp.showError('There is erorr in service call.');
                            },
                            complete: function () {
                            }
                        });
                    } else {
                        wfp.showError("This browser doesn't support HTML5 file uploads!");
                        btnUpload.prop('disabled', false);

                    }
                }
                else {
                    wfp.showError("Please select file to upload.");
                    btnUpload.prop('disabled', false);

                }

            });

            linkDelete.click(function (e) {

                linkDelete.prop('disabled', true);

                e.preventDefault();

                var dataToPost = {
                   FileName: linkDelete.data('file'),
                   FileType: '@Model.FileType'
                };

                $.ajax({
                    type: "POST",
                    data: JSON.stringify(dataToPost),
                    contentType: "application/json; charset=utf-8",
                    url: '/File/DeleteFile',
                    success: function (result) {
                        if (result.IsSucess === true) {
                            wfp.showSuccess('File has been deleted Successfully.');
                            linkDelete.prop('disabled', false);
                            linkDownload.hide();
                            linkDelete.hide();
                            txtSelectedFile.attr('value', '');
                        }
                        else {
                            wfp.showError(result.ErrorMessage);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        debugger;
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] === "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                        wfp.showError('There is erorr in service call.');
                    },
                    failure: function (response) {
                        debugger;
                        wfp.showError('There is erorr in service call.');
                    },
                    complete: function () {
                    }
                });

            });


        });

    </script>
