@using PagedList.Mvc
@using WFP.ICT.Data.Entities
@using WFP.ICT.Enum
@using WFP.ICT.Web.Helpers
@model PagedList.IPagedList<WFP.ICT.Web.Models.CustomerVm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string currentSort = ViewBag.CurrentSort;
    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "OrderNumber_desc";
    }

    var columnSortParams1 = new { sortOrder = ViewBag.OrderNumberSortParm };
    var columnSortParams2 = new { sortOrder = ViewBag.CampaignNameSortParm };
    var columnSortParams3 = new { sortOrder = ViewBag.CreatedBySortParm };
    var columnSortParams4 = new { sortOrder = ViewBag.BroadcastDateSortParm };
    var columnSortParams5 = new { sortOrder = ViewBag.StatusSortParm };

}

<div class="row">
        <div class="col-md-11">
            <div class="dashboard-page-head">
                <div class="page-header">
                    <h1>Customer White Labels<small></small></h1>
                </div>
            </div>
        </div>
        <div class="col-md-1 listing-action" id="divTools1" style="text-align:left">
            @Html.ActionLink("New", "New","Customer", null, new { @class = "btn btn-default", @title = "New White Label", @data_tooltip = "tooltip" })
        </div>
</div>
        <table class="table">
            <tr>
                <td>
                    @Html.SortIdentifier(currentSort, "Code")
                    @Html.ActionLink("Code", "Index", columnSortParams1)
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "Name")
                    @Html.ActionLink("Name", "Index", columnSortParams4)
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "WebDomain")
                    @Html.ActionLink("WebDomain", "Index", columnSortParams4)
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "Status")
                    @Html.ActionLink("Email", "Index", columnSortParams5)
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "CampaignName")
                    @Html.ActionLink("Phone", "Index", columnSortParams2)
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "CreatedBy")
                    @Html.ActionLink("Date Created", "Index", columnSortParams3)
                </td>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebDomain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Customer", new { id = item.Id })" id="btnEdit" class="btn btn-sm btn-default" title="Edit" data-tooltip="tooltip" data-id="@item.Id"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a href="#" id="btnDelete" class="btn btn-sm btn-default btnDelete" title="Delete" data-tooltip="tooltip" data-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-count">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
                <div class="tp-pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }), new PagedListRenderOptions() { })
                </div>
            </div>
        </div>

<!-- Modal -->

<script type="text/javascript">

        var wfp = wfp || {};

        $(document).ready(function () {

            $('.btnDelete').click(function (e) {
                debugger;
                e.preventDefault();

                var dataToPost = {
                    id: $(this).data('id')
                };

                wfp.showSwal("Are you sure to delete?", function () {

                    $.ajax({
                        type: "POST",
                        url: "/Customer/Delete",
                        data: dataToPost,
                        success: function (response) {
                            debugger;
                            if (response === "") wfp.reload();
                            if (response.IsSucess) {
                                wfp.showSuccess('Customer White Label has been deleted successfully.');
                                wfp.redirectTo('/Customer/Index');
                            } else {
                                wfp.showError(response.ErrorMessage);
                            }
                        },
                        failure: function (response) {
                            wfp.showError('There is erorr in service call.');
                        },
                        complete: function () {
                        }
                    });

                });
            });
            
        });

</script>