@model ADSDataDirect.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 well-box">
        <h2>@ViewBag.Title.</h2>
        <section id="loginForm">
        @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
        @using (Ajax.BeginForm("Login", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "SaveRegistrationSuccess", OnFailure = "SaveRegistrationError" }, new { @class = "form-horizontal", @id = "createUserForm" }))
        {
                @Html.AntiForgeryToken()
                <h4>Log in with your account</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    </div>
                    <div class="help-block">
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="input-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder="Password" })
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    </div>
                    <div class="help-block">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            <div class="form-group row">
                <div class="col-md-8 text-left">
                    @*<a href="~/ICT APPLICATIONS User Manual_v1.0.pdf">Download User Manual</a>*@
                </div>
                <div class="col-md-4 text-right">
                    <input type="submit" value="Log in" class="btn btn-default"/>
                </div>
            </div>
            }
        </section>
    </div>
    <div class="col-md-4">
    </div>
    </div>
<script type="text/javascript">
    
    var wfp = wfp || {};

        function SaveRegistrationSuccess(response) {
            debugger;
            if (response.IsSucess) {
                wfp.showSuccess('Logged in successfully.');
                debugger;
                var query = wfp.getQueryParams(document.location.search);
                wfp.reload(query.ReturnUrl);
            } else {
                wfp.showError(response.ErrorMessage);
            }
           
        }
        function SaveRegistrationError(e) {
            debugger;
            wfp.showError('There is error in login.' + e.statusText);
        }

</script>
