@model List<WFP.ICT.Web.Models.CompanyPermissionVM>
@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6">
                    <div class="dashboard-page-head">
                        <div class="page-header">
                            <h1> Permissions Managment</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 form-group" id="divSearch">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                            <input type="text" id="search" class="form-control input-md" placeholder="Type to search">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div> 
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default" href="#" data-toggle="modal" data-target="#myModal" data-action="add">
                        <span class="glyphicon">+</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 my-listing-dashboard">
                <div class="table-head">
                    <div class="row">
                        <div class="col-md-4"><span class="th-title">Name</span></div>
                        <div class="col-md-4"><span class="th-title">Category</span></div>
                        <div class="col-md-2"><span class="th-title">In Roles</span></div>
                        <div class="col-md-2"><span class="th-title">Action</span></div>
                    </div>
                </div>
                @foreach (var perm in Model)
                {
                    var btnDelete = "btnDelete" + perm.Id;
                    <div class="listing-row" id="@perm.Id">
                        <!-- listing row -->
                        <div class="row">
                            <div class="col-md-4 listing-title search"><h2>@perm.ClaimValue</h2></div>
                            <div class="col-md-4 listing-title">@perm.ClaimType</div>
                            <div class="col-md-2 listing-title">@perm.RolesCount</div>
                            <div class="col-md-2 listing-action">
                                @if (perm.IsEditable)
                                {
                                    <a href="#" data-toggle="modal" data-target="#myModal" class="btnEdit" data-action="edit" data-id="@perm.Id" data-name="@perm.ClaimValue" data-type="@perm.ClaimType">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                }
                                
                                @if (perm.IsDeletable)
                                {
                                    <a href="#" class="btnDelete" id="@btnDelete"><span class="glyphicon glyphicon-trash"></span></a>
                                }
                            </div>
                        </div>
                    </div><!-- listing row -->
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update Permission</h4>
            </div>
            <form id="frm" role="form">
                <div class="modal-body">
                    <input id="Id" name="Id" type="hidden">

                    <!-- Text input-->
                    <div class="form-group has-feedback">
                        <label class="control-label" for="txtName">Permission Name<span class="required">*</span></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </div>
                            <input id="ClaimValue" name="ClaimValue" type="text" data-minlength="3" placeholder="Permission Name" class="form-control input-md" required>
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <!-- Text input-->
                    <div class="form-group has-feedback">
                        <label class="control-label" for="txtName">Permission Category<span class="required">*</span></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </div>
                            @Html.DropDownListFor(Model => Model.FirstOrDefault().ClaimType, new SelectList(Model.FirstOrDefault().ClaimTypes, "Value", "Text", Model.FirstOrDefault().ClaimType)
                                , new { @class = "form-control input-md Categories", @id = "ClaimType", @name= "ClaimType", @style = "width:100%" })
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    var wfp = wfp || {};

    $(".Categories").select2();

    $('#myModal').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget);
        var modal = $(this);

        var id = button.data('id');
        if (id) {
            modal.find('.modal-title').text('Editing ' + button.data('name'));
            $('#Id').val(id);
            $('#ClaimValue').val(button.data('name'));
            $('#ClaimType').val(button.data('type')).trigger("change");
        }
        else {
            modal.find('.modal-title').text('Add new permission');
            $('#Id').val('');
            $('#frm')[0].reset();
        }

    })

    $('#btnSave').click(function () {
        debugger;

        var form = $("#frm");

                form.validator('validate').on('submit', function (e) {
                    debugger;
                    if (e.isDefaultPrevented()) {

                    } else {

                        e.preventDefault();

                        var dataToPost = form.serialize();
                        debugger;
                        $.ajax({
                            type: "POST",
                            url: "/Company/SavePermission",
                            data: dataToPost,
                            success: function (response) {
                                debugger;
                                if (response === "") wfp.reload();
                                if (response.IsSucess) {
                                    wfp.showSuccess('Permission has been saved successfully.');
                                    $('#myModal').modal('hide');
                                    wfp.redirectTo('/Company/Permissions');
                                } else {
                                    wfp.showError(response.ErrorMessage);
                                }
                            },
                            failure: function (response) {
                                wfp.showError('There is erorr in service call.');
                            },
                            complete: function () {
                            }
                        });
                        // everything looks good!
                    }
                }) //end validator
    });

   $('.btnDelete').click(function () {
       debugger;
       var btnDelete = $(this);
       var id = btnDelete.attr('id').replace('btnDelete', '');
       var divRow = $('#' + id);
       var dataToPost = "{Id : '" + id + "'}";

       wfp.showSwal("Are you sure to delete?", function () {
           $.ajax({
               type: "POST",
               url: '/Company/DeletePermission',
               data: dataToPost,
               contentType: "application/json; charset=utf-8",
               success: function (response) {
                   debugger;
                   if (response === "") wfp.reload();
                   if (response.IsSucess) {
                       wfp.showSuccess('Permission has been deleted successfully.');
                       divRow.fadeOut(1000).animate({ "opacity": "0" }, function () { divRow.remove(); });

                   } else {
                       wfp.showError(response.ErrorMessage);
                   }
               },
               failure: function (response) {
                   wfp.showError('There is erorr in service call.');
               },
               complete: function () {
               }
           });
       });

   });

   var $rows = $('.listing-row');
   $('#search').keyup(function () {
       var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
       //debugger;

       if (val === '') {
           $('.table-head').show();
           $('.header-container').show();
       } else {
           $('.table-head').hide();
           $('.header-container').hide();
       }

       $rows.show().filter(function () {
           debugger;
           var text = $(this).children('div').children('div .search').text().replace(/\s+/g, ' ').toLowerCase();
           return !~text.indexOf(val);
       }).hide();
   });

</script>

