@using ADSDataDirect.Enums
@using PagedList.Mvc
@using WFP.ICT.Data.Entities
@using WFP.ICT.Enum
@model PagedList.IPagedList<WFP.ICT.Web.Models.UserProfileVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string currentSort = ViewBag.CurrentSort;
    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "OrderNumber_desc";
    }

    var columnSortParams1 = new { sortOrder = ViewBag.OrderNumberSortParm };
    var columnSortParams2 = new { sortOrder = ViewBag.CampaignNameSortParm };
    var columnSortParams3 = new { sortOrder = ViewBag.CreatedBySortParm };
    var columnSortParams4 = new { sortOrder = ViewBag.BroadcastDateSortParm };
    var columnSortParams5 = new { sortOrder = ViewBag.StatusSortParm };

}

<div class="row">
        <div class="col-md-11">
            <div class="dashboard-page-head">
                <div class="page-header">
                    <h1>Vendors<small></small></h1>
                </div>
            </div>
        </div>
        <div class="col-md-1 listing-action" id="divTools1" style="text-align:left">
            @Html.ActionLink("New", "CreateVendor","Home", null, new { @class = "btn btn-default", @title = "New Vendor", @data_tooltip = "tooltip" })
        </div>
</div>
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
        <table class="table">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>*@
                <td>
                    @Html.SortIdentifier(currentSort, "OrderNumber")
                    @Html.ActionLink("Vendor Name", "Vendors", columnSortParams1)
                    @*@Html.DisplayNameFor(model => model.OrderNumber)*@
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "BroadcastDate")
                    @Html.ActionLink("Vendor Company", "Vendors", columnSortParams4)
                    @*@Html.DisplayNameFor(model => model.BroadcastDate)*@
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "Status")
                    @Html.ActionLink("Email", "Vendors", columnSortParams5)
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "CampaignName")
                    @Html.ActionLink("Phone", "Vendors", columnSortParams2)
                    @*@Html.DisplayNameFor(model => model.CampaignName)*@
                </td>
                <td>
                    @Html.SortIdentifier(currentSort, "CreatedBy")
                    @Html.ActionLink("Date Created", "Vendors", columnSortParams3)
                    @*@Html.DisplayNameFor(model => model.RepresentativeName)*@
                </td>
                @*<td>
                    @Html.SortIdentifier(currentSort, "CreatedBy")
                    @Html.ActionLink("Uses API", "Vendors", columnSortParams3)
                </td>*@
                <td>
                    @Html.SortIdentifier(currentSort, "CreatedBy")
                    @Html.ActionLink("API Key", "Vendors", columnSortParams3)
                    @*@Html.DisplayNameFor(model => model.RepresentativeName)*@
                </td>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    @*<td>
                        @(item.IsUsesAPI ? "Yes" : "No")
                    </td>*@
                    <td>
                        @(item.IsUsesAPI ? item.APIKey : "")
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditVendor", "Home", new { id = item.Id }, new { @class = "btn btn-default" })
                        <a href="#" id="btnDelete" class="btn btn-default btnDelete" title="Delete" data-tooltip="tooltip" data-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-count">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
                <div class="tp-pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Vendors", new { page, sortOrder = ViewBag.CurrentSort }), new PagedListRenderOptions() { })
                </div>
            </div>
        </div>

<!-- Modal -->

<script type="text/javascript">

        var wfp = wfp || {};

        $(document).ready(function () {

            $('.btnDelete').click(function (e) {
                debugger;
                e.preventDefault();

                var dataToPost = {
                    ID: $(this).data('id'),
                    Action: 'delete'
                };

                wfp.showSwal("Are you sure to delete?", function () {

                    $.ajax({
                        type: "POST",
                        url: "/Home/SaveVendor",
                        data: dataToPost,
                        success: function (response) {
                            debugger;
                            if (response === "") wfp.reload();
                            if (response.IsSucess) {
                                wfp.showSuccess('Vendor has been deleted successfully.');
                                wfp.reload('/Home/Vendors');
                            } else {
                                wfp.showError(response.ErrorMessage);
                            }
                        },
                        failure: function (response) {
                            wfp.showError('There is erorr in service call.');
                        },
                        complete: function () {
                        }
                    });

                });
            });
            
        });

</script>