@using System.Threading.Tasks
@using ADSDataDirect.Core.Entities
@using ADSDataDirect.Enums
@using ADSDataDirect.Web.Models
@using PagedList.Mvc

@model PagedList.IPagedList<ADSDataDirect.Web.Models.CampaignTrackingVm>

@{
    ViewData["Title"] = "Campaign Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var loggedInUser = Session["user"] as WfpUser;
    var isLoggedIn = loggedInUser != null;
    var isAdmin = loggedInUser != null && (loggedInUser.UserType == (int)UserType.Admin);
}

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-md-8">
            <div class="headertab">
                Campaign Tracking
            </div>
        </div>

        <div class="col-md-3 no-left-padding" id="divSearch" data-tooltip="tooltip" title="Search">
            <form id="frmSearch" method="post">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input type="hidden" id="searchType" name="searchType" value="basic" />
                    <input type="hidden" id="clearSessionId" name="clearSessionId" value="" />
                    <input type="text" id="basicString" name="basicString" class="form-control input-md" placeholder="Type to search" value="@ViewBag.searchString">
                    <div class="input-group-addon">
                        <a href="#" id="btnClearSearch" name="btnClearSearch" data-tooltip="tooltip" title="Clear Search"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1" id="divTools" style="text-align:left">
            <button class="btn btn-default" href="#" data-toggle="modal" data-target="#searchModal" data-tooltip="tooltip" title="Search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Order #
                </th>
                <th>
                    Campaign Name
                </th>
                <th>
                    White Label
                </th>
                <th>
                    Deploy Date
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Opened
                </th>
                <th>
                    Clicked
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            var divDrillDownId = "divDrillDown" + item.TrackingId;

            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.OrderNumber)
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhiteLabel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opened)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clicked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="min-width: 90px">
                    <a href="#" class="btn btn-sm btn-default btnDrill" data-id="@item.TrackingId" data-tooltip="tooltip" title="Drill Down"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="~/Tracking/DownloadReport?id=@item.CampaignId&trackingId=@item.TrackingId" target="_blank" class="btn btn-sm btn-default" id="btnDownload" data-tooltip="tooltip" title="Download"><span class="glyphicon glyphicon-download"></span></a>
                </td>
            </tr>
            <tr><td colspan="8">
                <div id="@divDrillDownId" class="divDrillDown">
                    <div class="row">
                        <div class="col-md-4">

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => item.CampaignName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.CampaignName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item.IoNumber)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.IoNumber)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item.StartDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.StartDate)
                                </dd>
                                <dt>
                                    EmailsSent
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.Quantity)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item.Opened)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.Opened)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item.OpenedPercentage)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.OpenedPercentage)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => item.Clicked)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.ClickedPercentage)
                                </dd>
                                <dt>
                                    CtrPercentage
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.ClickToOpenPercentage)
                                </dd>

                            </dl>

                        </div>
                        <div class="col-md-8">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        IO #
                                    </th>
                                    <th>
                                        Link
                                    </th>
                                    <th>
                                        Quantity Per Link
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (item.PerLink != null)
                                {
                                    foreach (var item1 in item.PerLink)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item1.IoNumber)
                                            </td>
                                            <td style="word-wrap:break-word;word-break:break-all;">
                                                @item1.Link
                                                @*@Html.Raw(string.Format("<a href=\"{0}\" target=\"blank\">{1}</a>", item1.Link, item1.Link.Substring(0, item1.Link.Length > 80 ? 80 : item1.Link.Length)))*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item1.ClickCount)
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </td></tr>
        }
        </tbody>
    </table>
    
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="page-count">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            <div class="tp-pagination">
               @Html.PagedListPager(Model, page => Url.Action("Index", new
          {
              page,
              sortOrder = ViewBag.CurrentSort,
              searchType = ViewBag.SearchType,
              basicString = ViewBag.BasicStringSearched,
              basicStatus = ViewBag.BasicStatusSearched,
              advancedStatus = ViewBag.AdvancedStatusSearched,
              advancedUser = ViewBag.AdvancedUserSearched,
              campaignName = ViewBag.CampaignName,
              isTested = ViewBag.IsTested,
              orderedFrom = ViewBag.OrderedFrom,
              orderedTo = ViewBag.OrderedTo,
              broadcastFrom = ViewBag.BroadcastFrom,
              broadcastTo = ViewBag.BroadcastTo
          }), new PagedListRenderOptions() { })
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
@{
    Html.RenderPartial("_Search", new CampaignSearchVm());
}
<script type="text/javascript">

                var wfp = wfp || {};

                $(document).ready(function () {

                    $('#searchString').keypress(function (e) {
                        if (e.which === 13) {
                            $('form#frmSearch').submit();
                            return false;
                        }
                    });

                    $('#btnClearSearch').click(function () {
                        debugger;
                        $('#clearSessionId').val('1');
                        $('form#frmSearch').submit();
                        //wfp.reload('/Status/Index');
                        return false;
                    });

                    $(".divDrillDown").hide();

                    $(".btnDrill").click(function () {
                        debugger;
                        var id = $(this).data('id');
                        $("#divDrillDown" + id).slideToggle("slow");
                    });
                       
                });
</script>
